
@{
    ViewBag.Title = "Lỗi";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    h4 {
        text-align: center;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Trang đang xây dựng</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <img src="~/Du_Lieu/img/404.jpg" class="center"/>
        </div>
    </div>
</div>
